@font-face {
  font-family: "mononoki";
  src: url("fonts/mononoki/mononoki-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/rain-gif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  font-family: "mononoki", sans-serif;
  padding: 1em;
  height: 100vh;
}

form {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

label {
  color: rgb(240, 210, 210);
  font-size: 1em;
}

input,
button {
  font-size: 0.9em;
  height: 2em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: rgb(240, 210, 210);
  font-family: inherit;
}

button {
  text-align: center;
  padding: 0.25em 1em;
  cursor: pointer;
}

button:hover {
  background-color: rgb(240, 221, 221);
  color: rgb(21 29 85);
}

.container {
  width: 100%;
  height: 90%;
  display: flex;
}

#content {
  margin-top: 1.5em;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-display,
.days-container {
  height: 48%;
  width: 100%;
  border: 5px solid rgb(182, 165, 118);
  background-color: rgb(31 54 107);
  border-radius: 10px;
}

h1 {
  color: rgb(240, 210, 210);
  text-align: center;
  height: 10%;
}

.lat-container,
.long-container,
.desc-container,
.tz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc-container,
.tz-container {
  margin-top: 1.75em;
}

.coordinates {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
  height: 50%;
  width: 20%;
  text-align: left;
}

p {
  font-size: 1.5em;
}

.latitude,
.longitude {
  margin-top: 0.25em;
}

.description {
  width: 50%;
  margin-top: 1.25em;
  text-align: center;
}

.timezone {
  width: 100%;
  margin-top: 1.25em;
  text-align: center;
}

.info-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.coordinates {
  width: 25%;
}

.desc-container {
  width: 50%;
}

.tz-container {
  width: 25%;
}

.days {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  gap: 10px;
  height: 90%;
}

.day {
  border-radius: 10px;
  background-color: rgb(160, 110, 110);
  text-align: center;
  color: #ddd;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dateTime,
.conditions,
.temp,
.humidity {
  font-size: 0.75em;
}

h3,
.longitude,
.latitude,
.description,
.timezone {
  font-size: 2em;
}

.weatherAndDaysContainer {
  height: 100%;
  width: 100%;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.today {
  width: 30%;
  height: 100%;
  padding: 0 2em;
  margin-top: 1.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.tempToday,
.humidityToday {
  font-size: 1.5em;
  color: rgb(235, 66, 24);
  height: 10%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.conditionsToday {
  color: rgb(226, 221, 179);
  height: 50%;
}

img {
  max-width: 100%;
  max-height: 50%;
}
